<app-template>

    <a type="button" routerLink="/"
        class="float-right mb-2  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        VOlcer
    </a>

    <p class="text-lg p-2 mt-10">Listado Empleados</p>

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Fecha
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Empleado
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cedula
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Jefe Anterior
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nueve Jefe
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (item of arrayList; track $index) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.fecha}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.Empleado}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.Cedula}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.JefeAnterior}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.NuevoJefe}}
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>

</app-template>